/* Add your CSS styles here */
body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #EFE6DD;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    color: #D0947A;
    text-align: right;
    padding: 30px 30px;
    margin-top: auto; /* Move the navigation bar to the bottom */
}

nav ul {
    color: #D0947A;
    text-align: right;
    padding: 10 0; /* Increase the top and bottom padding */
    margin-top: auto; /* Move the navigation bar to the bottom */
    position: relative; /* Add position relative to use absolute positioning within it */
    height: 10px; /* Adjust the height of the navigation bar */
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 8px;
}

nav ul li a {
    text-decoration: none;
    color: #D0947A;
    font-weight: bold;
    font-size: 22px;
}

nav ul li a:hover {
    color: #E6B370;
  }

.image-container {
    text-align: center;
}

.about-text {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 20px;
}

/* Center the image */
.centered-image {
    width: 40%;
    height: auto;
}

.corner-image {
    position: absolute;
    top: 19px; /* Adjust the top position as needed */
    left: 30px; /* Set left position to move the image to the left corner */
    width: auto; /* Maintain aspect ratio */
    height: 90px; /* Adjust the height of the image to equal the height of the nav */
}

.color-square {
    width: 250px; /* Adjust the width */
    height: 100px; /* Adjust the height */
    margin: 5px;
  }