/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure footer sticks to bottom */
    background-color: #EFE6DD;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #E6B370;
    color: #B97836;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Move the navigation bar to the bottom */
}

nav ul {
    background-color: #E6B370;
    color: #B97836;
    text-align: center;
    padding: 20px 0; /* Increase the top and bottom padding */
    margin-top: auto; /* Move the navigation bar to the bottom */
    position: relative; /* Add position relative to use absolute positioning within it */
    height: 60px; /* Adjust the height of the navigation bar */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #B97836;
    font-weight: bold;
}

footer {
    background-color: #E6B370;
    color: #B97836;
    text-align: center;
    padding: 10px 0;
}

/* Center the image */
.centered-image {
    display: block;
    margin: 0 auto;
}

/* Corner Image */
.corner-image {
    position: absolute;
    top: 10px;
    right: 10px;
}