/* Add your CSS styles here */
body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #EFE6DD;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #D0947A;
    color: #EFE6DD;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Move the navigation bar to the bottom */
}

nav ul {
    background-color: #D0947A;
    color: #EFE6DD;
    text-align: center;
    padding: 20px 0; /* Increase the top and bottom padding */
    margin-top: auto; /* Move the navigation bar to the bottom */
    position: relative; /* Add position relative to use absolute positioning within it */
    height: 30px; /* Adjust the height of the navigation bar */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #EFE6DD;
    font-weight: bold;
    font-size: 24px;
}

.image-container {
    text-align: center;
}

/* Center the image */
.centered-image {
    width: 70%;
    height: auto;
}

.corner-image {
    position: absolute;
    top: 15px; /* Adjust the top position as needed */
    left: 20px; /* Set left position to move the image to the left corner */
    width: auto; /* Maintain aspect ratio */
    height: 150px; /* Adjust the height of the image to equal the height of the nav */
}

.color-square {
    width: 100px; /* Adjust the width */
    height: 100px; /* Adjust the height */
    margin: 10px;
    border: rgb(255, 255, 255);
  }